.vscode/settings.json
.export_presets.cfg
export_presets.cfg
.import/
.idea/
android/build/local.properties
android/build/build/
android/build/keystore.properties
android/.idea/
android/build/.idea/
android/build/gradlew.bat
android/build/gradlew
android/build/gradle/